#app {
  min-height: 100vh;
  height: max-content;
  padding-bottom: 40px;
  background: $grey;
}

* {
  color: $black;
}

a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px;
  padding: 2rem;
  background: $white;
  border-radius: 12px;
}
